{{define "main"}}

<div class="row">
  <div class="col-md-6 my-2">
    <div class="list-group">
      <a class="list-group-item list-group-item-warning">주간 인기 검색어</a>
      {{range .Weekly}}
        <a href="/search?query={{.Name}}" class="list-group-item list-group-item-action">{{.Name}}</a>
      {{end}}
    </div>
  </div>
  <div class="col-md-6 my-2">
    <div class="list-group">
      <a class="list-group-item list-group-item-warning">월간 인기 검색어</a>
      {{range .Monthly}}
        <a href="/search?query={{.Name}}" class="list-group-item list-group-item-action">{{.Name}}</a>
      {{end}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 my-2">
    <div class="list-group">
      <a class="list-group-item list-group-item-primary">검색 지원 사이트</a>
      {{range .ShopInfos}}
        <a href="{{.URL}}" class="list-group-item list-group-item-action" target="blank">{{.Name}}</a>
      {{end}}
    </div>
  </div>
  <div class="col-md-6 my-2">
    <div class="list-group">
      <a class="list-group-item list-group-item-primary">신규 입고 지원 사이트</a>
      {{range .ShopInfos}}
          {{if ne .NewArrivalURL ""}}
          <a href="{{.NewArrivalURL}}" class="list-group-item list-group-item-action" target="blank">{{.Name}}</a>
          {{end}}
      {{end}}
    </div>
  </div>
</div>

<div class="accordion my-3" id="accordionExample">
  <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            패치노트 #5 (19.08.28)
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            기간별 인기 검색어 추가 (실시간, 주간, 월간)
        </div>
      </div>
    </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          패치노트 #4 (19.08.22)
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          모바일 최적화<br>
          사이트 디자인 마이너 개편
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          패치노트 #3 (19.08.20)
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          신규 입고 품목 기능 추가<br>
          사이트 리디자인
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          패치노트 #2 (19.08.12)
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        인기 검색어 탭 추가<br>
        위펀, 비마켓, 데블 다이스 등 검색 지원 사이트 추가
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          패치노트 #1 (19.08.11)
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        사이트 론칭
      </div>
    </div>
  </div>
</div>

{{end}}