{{define "main"}}

<ul class="list-group">
    <li class="list-group-item list-group-item-primary">검색 지원 사이트</li>
    <li class="list-group-item list-group-item-action"><a href="http://gamearc.co.kr" target="blank">게임아카이브</a></li>
    <li class="list-group-item list-group-item-action"><a href="https://www.divedice.com" target="blank">다이브다이스</a></li>
    <li class="list-group-item list-group-item-action"><a href="https://devildice.co.kr" target="blank">데블다이스</a></li>
    <li class="list-group-item list-group-item-action"><a href="https://boardgamemall.co.kr" target="blank">보드게임몰</a></li>
    <li class="list-group-item list-group-item-action"><a href="http://www.boardm.co.kr" target="blank">보드엠</a></li>
    <li class="list-group-item list-group-item-action"><a href="http://boardpia.co.kr" target="blank">보드피아</a></li>
    <li class="list-group-item list-group-item-action"><a href="http://shopping.boardlife.co.kr" target="blank">비마켓</a></li>
    <li class="list-group-item list-group-item-action"><a href="http://www.weefun.co.kr" target="blank">위펀</a></li>
    <li class="list-group-item list-group-item-action"><a href="http://cardcastle.co.kr" target="blank">카드캐슬</a></li>
    <li class="list-group-item list-group-item-action"><a href="http://www.popcone.co.kr" target="blank">팝콘에듀</a></li>
    <li class="list-group-item list-group-item-action"><a href="http://hobbygamemall.com" target="blank">하비게임몰</a></li>
</ul>

{{end}}