{{define "main"}}

<ul class="list-group my-2">
    <li class="list-group-item list-group-item-primary">검색 지원 사이트</li>
    {{range .ShopInfos}}
        <li class="list-group-item list-group-item-action"><a href="{{.URL}}" target="blank">{{.Name}}</a></li>
    {{end}}
</ul>

<ul class="list-group my-2">
    <li class="list-group-item list-group-item-primary">신규 입고 지원 사이트</li>
    {{range .ShopInfos}}
        {{if ne .NewArrivalURL ""}}
        <li class="list-group-item list-group-item-action"><a href="{{.NewArrivalURL}}" target="blank">{{.Name}}</a></li>
        {{end}}
    {{end}}
</ul>

<div class="accordion my-3" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          패치노트 #4 (19.08.22)
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          모바일 최적화<br>
          사이트 디자인 마이너 개편
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          패치노트 #3 (19.08.20)
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          신규 입고 품목 기능 추가<br>
          사이트 리디자인
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          패치노트 #2 (19.08.12)
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        인기 검색어 탭 추가<br>
        위펀, 비마켓, 데블 다이스 등 검색 지원 사이트 추가
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          패치노트 #1 (19.08.11)
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        사이트 론칭
      </div>
    </div>
  </div>
</div>

{{end}}